.Dropdown-control{
	width: 60%;
	height: 38px;
	border: none;
	font-size: 23px;
	background-color: transparent;
	border-bottom: 2px solid #848484;
	margin: 0 auto;
	-webkit-transition: border 0.8s; /* Safari */
  	transition: border 0.8s;
  	text-transform: uppercase;
}

.Dropdown-root.error > .Dropdown-control{
	border-color: #ff6c6c;
	color: #ff6c6c;
}

.Dropdown-placeholder{
	position: absolute;
	width: 100%;
	height: 100%;
}

.Dropdown-menu{
	width: 60%;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: left;
    position: absolute;
    top: -400px;
    max-height: 400px;
}

.Dropdown-menu > div:nth-child(even){
	background-color: #fff;
}

.Dropdown-option{
	font-size: 23px;
}