.pal-facial-verification{
	padding-top: 60px;
}

.pal-facial-verification .facial-wrapper{
	width: 280px;
	margin-top: 40px;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	vertical-align: top;
}

.pal-facial-verification .image-wrapper{
	height: 180px;
	background-color: #848484;
}

.pal-facial-verification .image-wrapper:first-child{
	margin-right: 20px;
}

.pal-facial-verification .image-wrapper:last-child{
	margin-left: 20px;
}

.pal-facial-verification .facial-wrapper label{
	margin-top: 20px;
	width: 230px;
	display: block;
}

.pal-facial-verification .facial-wrapper p{
	font-size: 25px;
	margin-top: 30px;
}