.pal-card-new{
	padding-top: 60px;
}

.pal-card-new .react-datepicker-wrapper{
	width: 80%;
}

.pal-card-new .animate-wrapper > *{
	margin-bottom: 40px;
}

.pal-card-new .text-swipe{
	position: absolute;
	left: -9999px;
}

.pal-card-new .animate-wrapper input, .pal-card-new .animate-wrapper .Dropdown-control, .pal-card-new .animate-wrapper .Dropdown-menu{
	width: 80%;
}