.pal-early-cheackin{
	padding-top: 60px;
}

.pal-early-cheackin .check-in{
	display: inline-block;
	margin-right: 0px;
	vertical-align: top;
}

.pal-early-cheackin .check-out{
	display: inline-block;
	margin-left: 0px;
	vertical-align: top;
}

.pal-early-cheackin div > p{
	margin-top: 20px;
	font-size: 25px;
	width: 280px;
}

.pal-early-cheackin div > h3{
	margin: 30px 40px;
}