.pal-room-choices .animate-wrapper{
	padding: 0 30px;
}

.pal-room-choices h1{
	margin-bottom: 20px;
}

.pal-room-choices .image-wrapper{
	width: 450px;
	height: 240px;
	margin: 0 auto;
	background-color: #848484;
	position: relative;
}

.pal-room-choices .image-wrapper > p{
	width: 100%;
	padding: 8px 0;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
}

.pal-room-choices .room-wrapper{
	width: 100%;
	white-space: nowrap;
	overflow: auto;
}

.pal-room-choices .room{
	width: 150px;
	height: 100px;
	background-color: #848484;
	display: inline-block;
	margin: 5px;
	position: relative;
}

.pal-room-choices .room > p{
	width: 100%;
	padding: 8px 0;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
	font-size: 11px;
}

.pal-room-choices img{
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}