.pal-card-details{
	padding-top: 60px;
}

.pal-card-details h3{
	margin: 20px 0;
}

.pal-card-details .details{
	width: 80%;
	margin: 0 auto;
}

.pal-card-details .details > p{
	font-size: 18px;
	padding: 8px 0 8px 5px;
	border-bottom: 1px solid #848484;
}

.pal-card-details button{
	width: 80%;
	margin-top: 20px;
}