.pal-passport-scan .pal-error{
	margin-bottom: 20px;
}

.pal-passport-scan h1{
	margin-top: 40px;
	margin-bottom: 20px;
}

.pal-passport-scan .image-wrapper{
	width: 450px;
	height: 250px;
	margin: 0 auto 40px auto;
	background-color: #848484;
}

.pal-passport-scan .image-wrapper > img{
	width: 100%;
	height: 100%;
}

.pal-passport-scan button{
	width: 450px;
}

.pal-passport-scan .details-container{
	padding: 0 80px;
	box-sizing: border-box;
}

.pal-passport-scan .details-container input{
	width: 90%;
	margin-top: 40px;
}

.pal-passport-scan .details-container .react-datepicker-wrapper{
	width: 90%;
	margin-top: 40px;
}

.pal-passport-scan .details-container .react-datepicker-wrapper button{
	width: 100%;
}

.pal-passport-scan .details-container .Dropdown-control{
	width: 90%;
	margin: 0;
}

.pal-passport-scan .details-container .Dropdown-root{
	margin-top: 40px;
}