.pal-breakfast h2{
	padding: 0 80px;
	margin: 20px 0;
}

.pal-breakfast .table{
	display: table;
	width: 100%;
	padding: 0 40px;
	box-sizing: border-box;
	height: 80px;
	margin-top: 30px;
}

.pal-breakfast .image-wrapper{
	width: 450px;
	height: 240px;
	margin: 0 auto;
	background-color: #848484;
	position: relative;
}

.pal-breakfast .image-wrapper > img{
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.pal-breakfast .table > div{
	display: table-cell;
}

.pal-breakfast .table > div:nth-child(2){
	width: 100px;
}

.pal-breakfast .animate-wrapper .pal-button{
	font-size: 35px;
	padding: 0px 20px;
}

