.pal-button{
	border: none;
	font-size: 18px;
	padding: 12px 16px;
	border-radius: 3px;
	color: white;
	position: relative;
	transition: all 0.3s
}

.pal-button.clicked{
	opacity: 0.5;
}

.pal-button:focus{
	outline: none;
}