.pal-pre-checkout{
	padding-top: 80px;
}

.pal-pre-checkout h1, .pal-pre-checkout h2, .pal-pre-checkout input, .pal-pre-checkout p.pal-error{
	margin-bottom: 40px;
}

.pal-pre-checkout button{
	width: 60%;
}