.pal-guest-details .animate-wrapper{
	padding: 0 40px;
	height: 575px;
}

.pal-guest-details h1{
	margin-bottom: 20px;
}

.pal-guest-details .animate-wrapper > .form{
	width: 100%;
}

.pal-guest-details .animate-wrapper > .form > *{
	margin-bottom: 20px;
	width: 80%;
}

.pal-guest-details .pal-error{
	margin-bottom: 20px;
}

.pal-guest-details .Dropdown-control{
	width: 100%;
}