.pal-checkout-confirmation .animate-wrapper div{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	box-sizing: border-box;
}

.pal-checkout-confirmation .animate-wrapper div > *{
	margin-bottom: 20px;
}

.pal-checkout-confirmation input{
	width: 100%;
	margin-bottom:5px;
}

.pal-checkout-confirmation .email-instuction{
	font-size: 14px;
}

.pal-checkout-confirmation .animate-wrapper canvas{
	background-color: white;
}

.pal-checkout-confirmation .signature-wrapper{
	position: relative;
	width: 500px !important;
}

.pal-checkout-confirmation .signature-wrapper button{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: transparent;
	border: none;
	position: absolute;
	right: 0px;
	top: 0px;
}

.pal-checkout-confirmation .signature-wrapper button:focus{
	outline: none;
}

.pal-checkout-confirmation .signature-wrapper button img{
	width: 60%;
	height: 60%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.pal-checkout-confirmation .pal-error{
	margin-top: 20px;
}