input[type="text"], input[type="number"], input[type="password"], input[type="email"]{
	width: 60%;
	height: 30px;
	border: none;
	font-size: 23px;
	padding: 0 10px;
	box-sizing: border-box;
	background-color: transparent;
	border-bottom: 2px solid #848484;
	-webkit-transition: border 0.8s; /* Safari */
  	transition: border 0.8s;
  	text-transform: uppercase;
}

input[type="text"].error, input[type="number"].error, input[type="password"].error, input[type="email"].error{
	border-color: #ff6c6c;
}

input[type="text"].error::placeholder, input[type="number"].error::placeholder, input[type="password"].error::placeholder, input[type="email"].error::placeholder{
	color: #ff6c6c;
}

input[type="text"]:read-only, input[type="number"]:read-only, input[type="password"]:read-only, input[type="email"]:read-only{
	border-color: #b5b5b5;
	color: #b5b5b5;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus{
	outline: none;
	color: black;
}