.pal-checkstatus{
	padding-top: 120px;
}

.pal-checkstatus .check-in{
	display: inline-block;
	margin: 0 30px;
}

.pal-checkstatus .check-out{
	display: inline-block;
	margin: 0 30px;
}
.pal-checkstatus .pickup-key{
	display: inline-block;
	margin: 0 30px;
}

.pal-checkstatus div > p{
	margin-top: 20px;
	font-size: 30px;
}