.pal-help{
	background: none;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	padding: 10px;
	z-index: 2;
	color: black;
	border-radius: 100%;
	text-align: center;
	font-weight: bold;
}

.pal-help:focus{
	outline: none;
}

.pal-help > img{
	width: 100%;
}