.pal-reservation-details h1{
	margin-bottom: 20px;
}

.pal-reservation-details .animate-wrapper{
	padding: 0 40px;
}

.pal-reservation-details .details td{
	padding-left: 10px;
	text-align: left;
	background-color: #fff !important;
	border-bottom: 1px solid #848484;
}


.pal-reservation-details .pricing{
	margin-top: 20px;
}

.pal-reservation-details .pricing td{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff !important;
}


.pal-reservation-details .pricing .total td{
	border-top: 1px solid black;
}
