.pal-room-preferences .table{
	display: table;
	width: 100%;
	table-layout: fixed;
	border-spacing: 20px;
}

.pal-room-preferences.no-preferences{
	padding-top: 150px;
}

.pal-room-preferences .table > div{
	display: table-cell;
	box-sizing: border-box;
	background-color: #fff;
	padding: 20px;
}

.pal-room-preferences .table > div > div{
	display: inline-block;
}

.pal-room-preferences .table > div > div:first-child{
	margin-right: 10px;
    vertical-align: top;
}

.pal-room-preferences .table > div > div:last-child{
	margin-left: 10px;
    vertical-align: top;
}

.pal-room-preferences .table > div button{
	width: 80px;
	height: 80px;
}

.pal-room-preferences .table > div p{
	font-size: 13px;
    width: 100px;
    margin-top: 10px;
}

.pal-room-preferences .views{
	background-color: #fff;
	padding: 20px;
    width: calc(100% - 40px);
    height: 333px;
    overflow: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

.pal-room-preferences .views > div{
	display: inline-block;
	margin: 20px;
	width: 80px;
	vertical-align: top;
}

.pal-room-preferences .views > div button{
	width: 80px;
	height: 80px;
}

.pal-room-preferences .views > div p{
	margin-top: 10px;
	font-size: 13px;
}