html, body, #root, .pal-content{
	margin: 0;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body *{
	font-family: Arial;
}

p, h1, h2, h3, h4, h5{
	margin: 0;
}

input[type="file"]{
  display: none;
}

.color-white{
	color: #fff;
}

.color-green{
	color: #09c508;
}

.color-red{
	color: #f50707;
}

.color-gray{
	color: #888888;
}

.font-bold{
	font-weight: bold;
}

.font-normal{
	font-weight: normal;
}

.font-italic{
	font-style: italic;
}

.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}

.align-center{
	text-align: center;
}

.align-justify{
	text-align: justify;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.pal-logo{
	position: absolute;
	height: 60px;
	z-index: 1;
	margin: auto;
	left: 0;
	right: 0;
	top: 20px;
}

.pal-content{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #e8e8e8;
}

.pal-wrapper{
	width: 60%;
	height: 100%;
	background-color: rgba(255,255,255,0.90);
	position: relative;
	box-sizing: border-box;
	padding-top: 120px;
}

.pal-wrapper > div{
	box-sizing: border-box;
	position: relative;
	height: 100%;
}

.pal-wrapper > div > svg{
	position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 40px;
    width: 150px;
}

.pal-error{
	background-color: #f5a9a9;
	width: 80%;
	margin: 0 auto;
	border: 2px solid #ea0505;
	border-radius: 8px;
	padding: 6px;
	color: #ea0505;
	font-weight: bold;
	display: none;
}

.pal-error.active{
	display: block;
}

.pal-promotion{
	width: 40%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.pal-promotion > div, .pal-promotion > div > div, .pal-promotion > div > div > div, .pal-promotion > div > div > div > ul, .pal-promotion > div > div > div > ul > li, .pal-promotion > div > div > div > ul > li > div{
	width: 100%;
	height: 100%;
}

.pal-promotion > div > div > div > ul > li > div > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.animate-wrapper{
	max-height: 575px;
	overflow: auto;
	overflow-x: hidden;
  	animation: 0.5s ease-out 0s 1 slideIn;
}

.animate-wrapper.out{
  	animation: 0.5s ease-out 0s 1 slideIn;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}