.pal-cancel{
	background: none;
	border: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	padding: 10px;
	z-index: 2;
	color: white;
	border-radius: 100%;
}

.pal-cancel:focus{
	outline: none;
}

.pal-cancel > img{
	width: 100%;
}