.react-datepicker__input-container{
	width: 100%;
}

.react-datepicker-wrapper button{
	width: 100%;
	height: 36px;
	border: none;
	font-size: 23px;
	padding: 0 10px;
	box-sizing: border-box;
	background-color: transparent;
	border-bottom: 2px solid #848484;
	-webkit-transition: border 0.8s; /* Safari */
  	transition: border 0.8s;
  	text-transform: uppercase;
}

.react-datepicker-wrapper button.error{
	border-color: #ff6c6c;
	color: #ff6c6c;
}

.react-datepicker-wrapper button:focus{
	outline: 0
}