.pal-checkout-bill h1{
	margin-bottom: 20px;
}

.pal-checkout-bill .details{
	width: 60%;
	margin: 0 auto;
}

.pal-checkout-bill .details{
	width: 80%;
	margin: 0 auto;
}

.pal-checkout-bill .details > p{
	font-size: 18px;
	padding: 8px 0 8px 5px;
	border-bottom: 1px solid #848484;
}

.pal-checkout-bill .scroller{
	max-height: 266px;
	overflow: auto;
	width: 80%;
	margin: 20px auto 20px auto;
}
