.pal-welcome video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-position: center;
	object-fit: cover;
	z-index: 0;
}

.pal-welcome .pal-logo{
	height: 100px;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 2;
}

.pal-welcome .language-container{
	width: 100%;
	position: absolute;
	padding: 20px 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	bottom: 0;
}

.pal-welcome .language-container .note{
	font-size: 18px;
	margin-bottom: 20px;
}

.pal-welcome .language-container .flag-container{
	width: 100%;
	height: 120px;
	max-height: 120px;
	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap; 
	padding: 10px 20px;
	box-sizing: border-box;
}

.pal-welcome .language-container .flag-container .flag{
	width: 180px;
	height: 100px;
	margin-right: 20px;
	display: inline-block;
	position: relative;
	color: rgba(38,186,255,1);
}

.pal-welcome .language-container .flag-container .flag:focus{
	outline: none;
	-webkit-box-shadow: 0px 0px 8px 4px rgba(38,186,255,1);
	-moz-box-shadow: 0px 0px 8px 4px rgba(38,186,255,1);
	box-shadow: 0px 0px 8px 4px rgba(38,186,255,1);
}

.pal-welcome .language-container .flag-container .flag:last-child{
	margin: 0;
}

.pal-welcome .language-container .flag-container .flag img{
	width: 100%;
	height: 100%;
}

.pal-welcome .language-container .flag-container .flag div{
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	box-sizing: border-box;
}
.pal-welcome .hidden{
	display: none;
}
.pal-welcome .selection{
    width: 300px;
    height: 60px;
    margin: 50px;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    font-size: 22px;
}
.pal-welcome .selection-container{
	text-align: center;
    color: #fff;
    width: 93%;
    position: absolute;
    padding: 20px 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 200px;
}

.pal-welcome .information-container{
	padding: 180px 160px 0 160px;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.pal-welcome .information-container h1{
	font-size: 45px;
}

.pal-welcome .information-container h2{
	font-size: 30px;
}