.pal-button-image{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: none;
	position: relative;
	vertical-align: middle;
	color: white;
	
	-webkit-box-shadow: 3px 5px 15px 1px rgba(181,181,181,1);
	-moz-box-shadow: 3px 5px 15px 1px rgba(181,181,181,1);
	box-shadow: 3px 5px 15px 1px rgba(181,181,181,1);

	-webkit-transition: opacity 0.3s; /* Safari */
  	transition: opacity 0.3s;
}

.pal-button-image.clicked{
	opacity: 0.2;
}

.pal-button-image:focus{
	outline: none;
}

.pal-button-image img{
	width: 60%;
	height: 60%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}