.pal-checkbox {
	width: 100%;
    padding-left: 30px;
    display: block;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.pal-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.pal-checkbox .checkmark {
	width: 25px;
    height: 25px;
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #bdbdbd;
    transition: all 0.8s;
}

.pal-checkbox .checkmark:after {
	top: 0px;
    left: 0;
    right: 0;
    bottom: 2px;
    margin: auto;
    width: 3px;
    height: 8px;
    content: "";
    position: absolute;
    display: none;
}

.pal-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.pal-checkbox .checkmark:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}