.pal-companion-signature{
	padding-top: 60px;
}

.pal-companion-signature h1{
	margin-bottom: 40px;
}

.pal-companion-signature .animate-wrapper canvas{
	background-color: white;
}

.pal-companion-signature .signature-wrapper{
	position: relative;
	width: 500px !important;
	margin: 0 auto;
}

.pal-companion-signature .signature-wrapper button{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: transparent;
	border: none;
	position: absolute;
	right: 0px;
	top: 0px;
}

.pal-companion-signature .signature-wrapper button:focus{
	outline: none;
}

.pal-companion-signature .signature-wrapper button img{
	width: 60%;
	height: 60%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}