.pal-checkin-confirmation .animate-wrapper{
	max-height: 575px;
}

.pal-checkin-confirmation h1{
	margin-bottom: 20px;
	padding: 0 40px;
}

.pal-checkin-confirmation h2{
	margin-top: 20px;
}

.pal-checkin-confirmation .details{
	width: 60%;
	margin: 0 auto;
}

.pal-checkin-confirmation .details{
	width: 80%;
	margin: 0 auto;
}

.pal-checkin-confirmation .details > p{
	font-size: 18px;
	padding: 8px 0 8px 5px;
	border-bottom: 1px solid #848484;
}

.pal-checkin-confirmation .details > label{
	margin: 20px 0;
}


.pal-checkin-confirmation .email-instuction{
	font-size: 14px;
}

.pal-checkin-confirmation .animate-wrapper canvas{
	background-color: white;
}

.pal-checkin-confirmation .signature-wrapper{
	position: relative;
	width: 500px !important;
	margin: 0 auto;
}

.pal-checkin-confirmation .signature-wrapper button{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: transparent;
	border: none;
	position: absolute;
	right: 0px;
	top: 0px;
}

.pal-checkin-confirmation .terms-wrapper{
	padding: 0 40px;
}

.pal-checkin-confirmation .terms{
	width: 130px;
}

.pal-checkin-confirmation .signature-wrapper button:focus{
	outline: none;
}

.pal-checkin-confirmation .signature-wrapper button img{
	width: 60%;
	height: 60%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}