.pal-room-description .animate-wrapper{
	padding: 0 40px;
}

.pal-room-description .carousel.carousel-slider{
	height: 250px;
}

.pal-room-description .carousel .thumbs-wrapper{
	margin: 0;
}

.pal-room-description .carousel .thumbs{
	padding-left: 0;
}

.pal-room-description .details > p{
	font-size: 18px;
	padding: 8px 0 8px 5px;
	border-bottom: 1px solid #848484;
}