.pal-late-checkout h1{
	margin-bottom: 40px;
}

.pal-late-checkout h3{
	padding: 0 40px;
	margin-bottom: 40px;
}

.pal-late-checkout .animate-wrapper .left{
	display: inline-block;
	margin-right: 20px;
    width: 240px;
    vertical-align: top;
}

.pal-late-checkout .animate-wrapper .left p{
	font-size: 18px;
}

.pal-late-checkout .animate-wrapper .right{
	display: inline-block;
	margin-left: 20px;
    width: 240px;
    vertical-align: top;
}

.pal-late-checkout .animate-wrapper .right p{
	font-size: 18px;
}

.pal-late-checkout div > p{
	margin-top: 20px;
	font-size: 30px;
}

.pal-late-checkout p.instuction{
	margin-top: 40px;
	font-size: 16px;
}